@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--height-of-close-book: 620px;
	--width-of-close-book: 400px;
	--black-mine-shaft: #202020;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	@apply bg-yellow-cream-can;
}

.shadow-book {
	box-shadow: 15px 16px 10px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 15px 16px 10px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 15px 16px 10px 0px rgba(0, 0, 0, 0.3);
}
