@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--height-of-close-book: 620px;
	--width-of-close-book: 400px;
	--black-mine-shaft: #202020;
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	@apply bg-yellow-cream-can;
}
