/* "tailwind css" */

.close-book::after {
	@apply absolute top-0 left-5 h-full w-px bg-gray-cape-cod;
	content: "";
}

@keyframes roll-bool-animation {
	0% {
		rotate: -90deg;
		scale: 1.5;
	}
	70% {
		rotate: 0deg;
		scale: 1;
	}
	80% {
		rotate: 0deg;
		scale: 1.3;
	}
	100% {
		rotate: 0deg;
		scale: 1;
	}
}

.close-book.animation {
	animation-name: roll-bool-animation;
	animation-duration: 4s;
}
